
<!-- Form -->

<div class="modal fade" id="add-menu-modal" tabindex="-1" role="dialog" aria-labelledby="add-menu-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ edit ? 'Edit learning  : ' + edit.title : 'AÑADIR RECETA' }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6 content-title-menu">
                        
                            
                    </div>
                   
                </div>
                <p class="menu-p">ESCOGE LA RECETAS QUE QUIERES AÑADIR A TU DESAYUNO</p>
            </div>
           
                @include('pages/test/partials/nav-recetas')
           <section>
               <div class="container">
                   <div class="row">
                       <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                           <div class="row">
                               <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
                                    <div class="content-grid-item-wrapper col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            
                                        <div class="clear-menu-item">
                                            <a href="#" class="image-holder">
                                                <img src="{{ assetsUrl('img/clear-menu-bg.png') }}" alt=""/>
                                            </a>
                                
                                        </div>
                                        <div class="descripcion">
                                            <h5>TITULO</h5>
                                            <h6>CATEGORIA</h6>
                                        </div>
                                            
                                    </div>
                               </div>
                               <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
                                    <div class="content-grid-item-wrapper col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            
                                        <div class="clear-menu-item">
                                            <a href="#" class="image-holder">
                                                <img src="{{ assetsUrl('img/clear-menu-bg.png') }}" alt=""/>
                                            </a>
                                
                                        </div>
                                            <div class="descripcion">
                                                <h5>TITULO</h5>
                                                <h6>CATEGORIA</h6>
                                            </div>
                                            
                                        </div>
                               </div>
                               <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
                                    <div class="content-grid-item-wrapper col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            
                                        <div class="clear-menu-item">
                                            <a href="#" class="image-holder">
                                                <img src="{{ assetsUrl('img/clear-menu-bg.png') }}" alt=""/>
                                            </a>
                                
                                        </div>
                                            <div class="descripcion">
                                                <h5>TITULO</h5>
                                                <h6>CATEGORIA</h6>
                                            </div>
                                            
                                        </div>
                               </div>
                           </div>
                       </div>
                       <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                            <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
                                         <div class="content-grid-item-wrapper col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                 
                                             <div class="clear-menu-item">
                                                 <a href="#" class="image-holder">
                                                     <img src="{{ assetsUrl('img/clear-menu-bg.png') }}" alt=""/>
                                                 </a>
                                     
                                             </div>
                                             <div class="descripcion">
                                                 <h5>TITULO</h5>
                                                 <h6>CATEGORIA</h6>
                                             </div>
                                                 
                                         </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
                                         <div class="content-grid-item-wrapper col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                 
                                             <div class="clear-menu-item">
                                                 <a href="#" class="image-holder">
                                                     <img src="{{ assetsUrl('img/clear-menu-bg.png') }}" alt=""/>
                                                 </a>
                                     
                                             </div>
                                                 <div class="descripcion">
                                                     <h5>TITULO</h5>
                                                     <h6>CATEGORIA</h6>
                                                 </div>
                                                 
                                             </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
                                         <div class="content-grid-item-wrapper col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                 
                                             <div class="clear-menu-item">
                                                 <a href="#" class="image-holder">
                                                     <img src="{{ assetsUrl('img/clear-menu-bg.png') }}" alt=""/>
                                                 </a>
                                     
                                             </div>
                                                 <div class="descripcion">
                                                     <h5>TITULO</h5>
                                                     <h6>CATEGORIA</h6>
                                                 </div>
                                                 
                                             </div>
                                    </div>
                                </div>
                       </div>
                       <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                            <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
                                         <div class="content-grid-item-wrapper col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                 
                                             <div class="clear-menu-item">
                                                 <a href="#" class="image-holder">
                                                     <img src="{{ assetsUrl('img/clear-menu-bg.png') }}" alt=""/>
                                                 </a>
                                     
                                             </div>
                                             <div class="descripcion">
                                                 <h5>TITULO</h5>
                                                 <h6>CATEGORIA</h6>
                                             </div>
                                                 
                                         </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
                                         <div class="content-grid-item-wrapper col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                 
                                             <div class="clear-menu-item">
                                                 <a href="#" class="image-holder">
                                                     <img src="{{ assetsUrl('img/clear-menu-bg.png') }}" alt=""/>
                                                 </a>
                                     
                                             </div>
                                                 <div class="descripcion">
                                                     <h5>TITULO</h5>
                                                     <h6>CATEGORIA</h6>
                                                 </div>
                                                 
                                             </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
                                         <div class="content-grid-item-wrapper col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                 
                                             <div class="clear-menu-item">
                                                 <a href="#" class="image-holder">
                                                     <img src="{{ assetsUrl('img/clear-menu-bg.png') }}" alt=""/>
                                                 </a>
                                     
                                             </div>
                                                 <div class="descripcion">
                                                     <h5>TITULO</h5>
                                                     <h6>CATEGORIA</h6>
                                                 </div>
                                                 
                                             </div>
                                    </div>
                                </div>
                       </div>
                   </div>
                   <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                       <button type="submit" for="" class="btn btn-primary float-center"><span class="fa fa-save"></span> GUARDAR</button>
                   </div>
               </div>
                
           </section>
        </div>
    </div>
</div>

@if(flashMessage('form') || edit || request.input('modal'))
<script>

    $(document).ready(function() {
        $('#add-menu-modal').modal('show');
    });

</script>
@endif

<!-- E:Form -->