@layout('layouts/main')
@section('content')
  @include('pages/test/partials/subnavigation')
  @include('pages/test/partials/actionbar')
    <section class="page-content">
        @include('pages/test/calendar')
    </section>

    <section class="page-content secondary-bg">
        <div class="container">

            <div class="clear-menu-rows col-xl-10 offset-xl-1 col-lg-10 offeset-lg-1 col-md-10 offset-md-1 col-sm-12 col-xs-12">
                <!--DESAYUNO-->
                <div class="cmr-element">
                    @if(!meals.desayuno)
                    <div class="inner-container">
                        <div class="icon-holder">
                            <img src="{{ assetsUrl('img/icons/clear-menu-icon-1.png') }}" alt="">
                        </div>
                        <div class="name-holder">
                            <span>DESAYUNO</span>
                        </div>
                        <div class="button-holder">
                            <a href="#" class="add-receta" data-meal="desayuno">
                                <div class="lg-icon lg-calendar-add"></div>
                            </a>
                        </div>
                    </div>
                    @endif
                    @if(meals.desayuno)
                    <div class="content-title">
                        <span>DESAYUNO</span>
                    </div>
                    <div class="content-container">
                        <div class="image-holder">
                            <img src="{{ assetsUrl('uploads/' + meals.desayuno.receta.image) }}" alt="">
                        </div>
                        <div class="content-holder">
                            <span>{{ meals.desayuno.receta.title }}</span>
                        </div>
                        <div class="button-holder">
                            <div class="dropdown dropleft">
                                <a href="#" data-toggle="dropdown">
                                    <div class="lg-icon lg-settings"></div>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item update-receta"  href="#" data-meal="desayuno" data-content-id="{{ meals.desayuno._id }}" data-receta-id="{{ meals.desayuno.receta._id }}">CAMBIAR RECETA</a>
                                    <a class="dropdown-item" href="{{ route('nutricions.crearmenu.detail', { menu_id: params.menu_id, day: params.day }) }}?delete={{  meals.desayuno._id }}">EUMINAR RECETA</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @endif
                </div>
                <!--MEDIA MANANA-->
                <div class="cmr-element">
                    @if(!meals.mediamanana)
                    <div class="inner-container">
                        <div class="icon-holder">
                            <img src="{{ assetsUrl('img/icons/clear-menu-icon-2.png') }}" alt="">
                        </div>
                        <div class="name-holder">
                            <span>MEDIA MANANA</span>
                        </div>
                        <div class="button-holder">
                            <a href="#" class="add-receta" data-meal="mediamanana">
                                <div class="lg-icon lg-calendar-add"></div>
                            </a>
                        </div>
                    </div>
                    @endif
                    @if(meals.mediamanana)
                    <div class="content-title">
                        <span>MEDIA MANANA</span>
                    </div>
                    <div class="content-container">
                        <div class="image-holder">
                            <img src="{{ assetsUrl('uploads/' + meals.mediamanana.receta.image) }}" alt="">
                        </div>
                        <div class="content-holder">
                            <span>{{ meals.mediamanana.receta.title }}</span>
                        </div>
                        <div class="button-holder">
                            <div class="dropdown dropleft">
                                <a href="#" data-toggle="dropdown">
                                    <div class="lg-icon lg-settings"></div>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item update-receta"  href="#" data-meal="mediamanana" data-content-id="{{ meals.mediamanana._id }}" data-receta-id="{{ meals.mediamanana.receta._id }}">CAMBIAR RECETA</a>
                                    <a class="dropdown-item" href="{{ route('nutricions.crearmenu.detail', { menu_id: params.menu_id, day: params.day }) }}?delete={{  meals.mediamanana._id }}">EUMINAR RECETA</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @endif
                </div>
                <div class="cmr-element">
                    @if(!meals.almuerzo)
                    <div class="inner-container">
                        <div class="icon-holder">
                            <img src="{{ assetsUrl('img/icons/clear-menu-icon-3.png') }}" alt="">
                        </div>
                        <div class="name-holder">
                            <span>AL MUERZO</span>
                        </div>
                        <div class="button-holder">
                            <a href="#" class="add-receta" data-meal="almuerzo">
                                <div class="lg-icon lg-calendar-add"></div>
                            </a>
                        </div>
                    </div>
                    @endif
                    @if(meals.almuerzo)
                    <div class="content-title">
                        <span>AL MUERZO</span>
                    </div>
                    <div class="content-container">
                        <div class="image-holder">
                            <img src="{{ assetsUrl('uploads/' + meals.almuerzo.receta.image) }}" alt="">
                        </div>
                        <div class="content-holder">
                            <span>{{ meals.almuerzo.receta.title }}</span>
                        </div>
                        <div class="button-holder">
                            <div class="dropdown dropleft">
                                <a href="#" data-toggle="dropdown">
                                    <div class="lg-icon lg-settings"></div>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item update-receta"  href="#" data-meal="almuerzo" data-content-id="{{ meals.almuerzo._id }}" data-receta-id="{{ meals.almuerzo.receta._id }}">CAMBIAR RECETA</a>
                                    <a class="dropdown-item" href="{{ route('nutricions.crearmenu.detail', { menu_id: params.menu_id, day: params.day }) }}?delete={{  meals.almuerzo._id }}">EUMINAR RECETA</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @endif
                </div>
                <div class="cmr-element">
                    @if(!meals.mediatarde)
                    <div class="inner-container">
                        <div class="icon-holder">
                            <img src="{{ assetsUrl('img/icons/clear-menu-icon-2.png') }}" alt="">
                        </div>
                        <div class="name-holder">
                            <span>MEDIA TARDE</span>
                        </div>
                        <div class="button-holder">
                            <a href="#" class="add-receta" data-meal="mediatarde">
                                <div class="lg-icon lg-calendar-add"></div>
                            </a>
                        </div>
                    </div>
                    @endif
                    @if(meals.mediatarde)
                    <div class="content-title">
                        <span>MEDIA TARDE</span>
                    </div>
                    <div class="content-container">
                        <div class="image-holder">
                            <img src="{{ assetsUrl('uploads/' + meals.mediatarde.receta.image) }}" alt="">
                        </div>
                        <div class="content-holder">
                            <span>{{ meals.mediatarde.receta.title }}</span>
                        </div>
                        <div class="button-holder">
                            <div class="dropdown dropleft">
                                <a href="#" data-toggle="dropdown">
                                    <div class="lg-icon lg-settings"></div>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item update-receta"  href="#" data-meal="mediatarde" data-content-id="{{ meals.mediatarde._id }}" data-receta-id="{{ meals.mediatarde.receta._id }}">CAMBIAR RECETA</a>
                                    <a class="dropdown-item" href="{{ route('nutricions.crearmenu.detail', { menu_id: params.menu_id, day: params.day }) }}?delete={{  meals.mediatarde._id }}">EUMINAR RECETA</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @endif
                </div>
                <div class="cmr-element">
                    @if(!meals.cena)
                    <div class="inner-container">
                        <div class="icon-holder">
                            <img src="{{ assetsUrl('img/icons/clear-menu-icon-4.png') }}" alt="">
                        </div>
                        <div class="name-holder">
                            <span>CENA</span>
                        </div>
                        <div class="button-holder">
                            <a href="#" class="add-receta" data-meal="cena">
                                <div class="lg-icon lg-calendar-add"></div>
                            </a>
                        </div>
                    </div>
                    @endif
                    @if(meals.cena)
                    <div class="content-title">
                        <span>CENA</span>
                    </div>
                    <div class="content-container">
                        <div class="image-holder">
                            <img src="{{ assetsUrl('uploads/' + meals.cena.receta.image) }}" alt="">
                        </div>
                        <div class="content-holder">
                            <span>{{ meals.cena.receta.title }}</span>
                        </div>
                        <div class="button-holder">
                            <div class="dropdown dropleft">
                                <a href="#" data-toggle="dropdown">
                                    <div class="lg-icon lg-settings"></div>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item update-receta"  href="#" data-meal="cena" data-content-id="{{ meals.cena._id }}" data-receta-id="{{ meals.cena.receta._id }}">CAMBIAR RECETA</a>
                                    <a class="dropdown-item" href="{{ route('nutricions.crearmenu.detail', { menu_id: params.menu_id, day: params.day }) }}?delete={{  meals.cena._id }}">EUMINAR RECETA</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @endif
                </div>
            </div>
        </div>
    </section>
@endsection
